<h1> Teachers Data </h1>

<p>This component demonstrates fetching teachers data from the server.</p>

<p *ngIf="!teachers"><em>Loading...</em></p>

<mat-form-field>
  <mat-label>Select an option</mat-label>
  <mat-select disableRipple>
    <mat-option value="1">Option 1</mat-option>
    <mat-option value="2">Option 2</mat-option>
    <mat-option value="3">Option 3</mat-option>
  </mat-select>
</mat-form-field>

<table class='table' *ngIf="teachers">
  <thead>
    <tr>
      <th>Roll</th>
      <th>FirstName</th>
      <th>LastName</th>
      <th>Subject</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let teacher of teachers">
      <td>{{ teacher.empId }}</td>
      <td>{{ teacher.firstName }}</td>
      <td>{{ teacher.lastName }}</td>
      <td>{{ teacher.subject }}</td>
    </tr>
  </tbody>
</table>
